@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* Styling */
	background-color: hsl(212, 45%, 89%);
	font-family: "Outfit", sans-serif;
	font-size: 15px;

	/* Sizing */
	min-height: 100vh;

	/* Display */

	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	align-items: center;
}

main {
	/* Styling */
	background-color: white;
	border-radius: 20px;

	/* Aligning */
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 15px;

	/* Sizing */
	max-width: 20rem;
	height: max-content;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

footer {
	/* Styling */
	background: white;
	padding: 1rem;
	margin: 15px;
	border-radius: 100px;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);

	justify-self: auto;
	text-align: center;
}

/* Card styling */

main > img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 15px;
}

.text {
	/* this is to make the <div .text> fit correctly in the <main>*/
	margin: 15px;
}

.text > h2 {
	color: hsl(218, 44%, 22%);
	margin-bottom: 15px;
	font-weight: 700;
}

.text > p {
	color: hsl(220, 15%, 55%);
	margin-bottom: 10px;
	font-weight: 400;
}
